body {
    background-color: #AED79B;
    margin: 0;
    border: 0;
    align-items: center;
}

.block{
    text-align: center;
    margin-top: 24%;
}

.block h1{
    font-family: sans-serif;
    font-weight: 400;
    font-style: Default;
    font-size: 44.4px;
    /* line-height: 120%; */
    /* letter-spacing: 0%; */
    text-align: center;
    
}
#text-box{
    width: 608px;
    height: 116px;
    opacity: 1;
    border-radius: 13.16px;
    border-width: 0.82px;
    padding-top: 13.16px;
    padding-right: 13.16px;
    padding-bottom: 9.87px;
    padding-left: 13.16px;
    border: none;
}
